# Domain account (priority)
# ATLASSIAN_USER=<your-domain-username>
# ATLASSIAN_PASS=<your-domain-password>

CONFLUENCE_URL=http://confluence.example.com:8090
CONFLUENCE_USER=<your-username>
CONFLUENCE_PASS=<your-password>
CONFLUENCE_AUTH_MODE=basic
